ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content:flex-end;
}


li  {
    float: left;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li :hover {
    background-color: #111;
}
.image{

    overflow: hidden;
    background-image: url('images/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir entièrement le conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center;
   height: 550px;


}
.text1{
    font-weight: bold;
   font-size: 70px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 300px;
}